.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
    background-color: #222;
    height: 200px;
    padding: 20px;
    /*color: white;*/
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media (max-width: 600px) {
  .App {
    text-align: justify;
  }
  .logoPic {
  width: 60%;
  }
  .App-header {
  width: 90%;
  text-align: center;;
  }
  .buttons {
    /*width: 6.5em !important;*/
    margin-left: -1em !important;
  }
  .testDraw {
   width: 35% !important;
 }
 .utilities {
   flex-direction: column;
 }
 .signUp {
   flex-direction: column;
 }
}
