body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
  display: flex;
}

li {
  list-style: none;
}

.back {
  width: 100%;
  filter: blur(1px);
  height: 15em;
}

.logo {
  margin: 0 auto;
}

img {
  height: 10em;
}

.utilities {
  text-align: center;
  display: flex;
  width: 30%;
  margin: auto;
}

.buttons {
  width: 9em;
}


.signUp {
  text-align: center;
  display: flex;
  width: 30%;
  margin: auto;
}
